{% extends "layouts/layout.html" %}
{% block title %}
    Makale Ekle
{% endblock %}

{% block body %}
    <h3>Makale Oluştur</h3>
    <hr>

    {% from "layouts/formhelpers.html" import render_field %}

<div class="col-lg-8">
<form class="form-group" method=post>
    {{ render_field(form.title, class = "form-control") }}
    {{ render_field(form.content, class = "form-control", rows="8") }}


<button type="submit" class="btn btn-primary">Makale Ekle</button>
</form>

</div>
<script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
    <script> CKEDITOR.replace( 'content' ); </script>


{% endblock %}